#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  --positive-color: #37ff00;
  --neutral-color: #ffee00;
  --negative-color: #ff3c00;
}

body {
  background: linear-gradient(to bottom, #e4f0f7, #dad7db);
  font-family: "Archivo";
}
